@media (max-width: 768px) {
  .products__item {
    width: 300px;
    padding: 16px 15px 40px 15px;
  }

  .nav {
    display: none;
  }

  .header__nav-logo {
    margin-top: 6px;
    margin-bottom: 6px;
    width: 140px;
  }

  .header__nav-link {
    padding: 14px 15px;
  }

  .header__title {
    font-size: 62px;
  }

  .header__price-link {
    font-size: 50px;
    padding: 10px 60px;
  }

  .header__view-link {
    padding: 10px 58px;
  }

  .directions__link,
  .header__nav-link,
  .products_link,
  .products__item-text {
    font-size: 14px;
  }

  .header__text,
  .products__item-title {
    font-size: 16px;
  }

  .location__title {
    font-size: 40px;
  }

  .footer__logo {
    width: 140px;
  }

  .footer__link-tel,
  .footer__link,
  .footer__line-text {
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  .products__content:active>.products__item-img {
    opacity: 0;
  }

  .products__content:active>.products__item-get {
    opacity: 1;
  }
}

@media (max-width: 550px) {
  .menu-btn {
    display: flex;
  }

  .header__nav-list {
    position: fixed;
    top: 0;
    right: 0;
    flex-direction: column;
    padding: 30px;
    backdrop-filter: blur(15px);
    height: 100%;
    box-shadow: -12px 2px 28px -1px rgba(0, 0, 0, 1);
    -webkit-box-shadow: -12px 2px 28px -1px rgba(0, 0, 0, 1);
    -moz-box-shadow: -12px 2px 28px -1px rgba(0, 0, 0, 1);
    align-items: flex-end;
    row-gap: 20px;
    transform: translateX(120%);
    transition: 0.3s;
  }

  .header__nav-link {
    font-size: 20px;
  }

  .menu-btn:focus+.header__nav-list {
    transform: translateX(0);
  }
}

@media (max-width: 520px) {
  .header__title {
    font: 36px "Raleway-Black";
    color: #69cf17;
  }

  .header__title-mini {
    font: 26px "Raleway-Regular";
    color: #69cf17;
    margin-bottom: 10px;
  }

  .header__link-content {
    position: relative;
    row-gap: 10px;
  }

  .header__view-link {
    position: absolute;
    top: 110%;
    left: 0;
  }

  .about__title {
    font-size: 36px;
  }

  .text-content {
    max-height: 100%;
    height: 80px;
    overflow: scroll;
  }

  .header__text,
  .about__text-content {
    font-size: 14px;
  }

  .about__text-content {
    margin-top: 10px;
    max-height: 100%;
    height: 350px;
    overflow: scroll;
  }

  .footer__container {
    padding-top: 30px;
    padding-bottom: 80px;

    display: block;
    justify-content: center;
    height: unset;
  }

  .footer__link-tel {
    display: block;
    text-align: center;
  }

  .footer__list {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    margin-bottom: 10%;
  }

  .footer__logo {
    display: none;
  }

  .header__price-link {
    padding: 8px 46px;
  }

  .header__view-link {
    padding: 5px 46px;
  }
}

@media (max-width: 320px) {
  .about__title {
    font-size: 18px;
  }
}